<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Cats</title>
</head>
<body>
    <div class="container">
        <h1>Cats</h1>
        <a href="/tibbers"><img src="images/cat.jpg" alt="cat"></a>
        <a href="/cuddles"><img src="images/paw.jpg" alt="cat2"></a>
        <a href="/minky"><img src="images/lay.jpg" alt="cat3"></a>
    </div>
</body>
</html>